<template name="alert">
	<div class="modal fade {{../class}}" id="{{../id}}" tabindex="-1" role="dialog" aria-labelledby="{{../id}}Label" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">{{i18n "buttons.close"}}</span>
					</button>
					<h4 class="modal-title" id="{{../id}}Label">
						{{#if ../title}}{{i18n ../title}}{{else}}{{i18n "dialog.alert"}}{{/if}}
					</h4>
				</div>
				<div class="modal-body">
					{{>yield}}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">{{i18n "buttons.ok"}}</button>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="prompt">
	<div class="modal fade {{../class}}" id="{{../id}}" tabindex="-1" role="dialog" aria-labelledby="{{../id}}Label" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">{{i18n "buttons.close"}}</span>
					</button>
					<h4 class="modal-title" id="{{../id}}Label">
						{{#if ../title}}{{i18n ../title}}{{else}}{{i18n "dialog.prompt"}}{{/if}}
					</h4>
				</div>
				<div class="modal-body">
					{{>yield}}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">{{i18n "buttons.cancel"}}</button>
					<button type="button" class="btn btn-primary">{{i18n "buttons.ok"}}</button>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="confirm">
	<div class="modal fade {{../class}}" id="{{../id}}" tabindex="-1" role="dialog" aria-labelledby="{{../id}}Label" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">{{i18n "buttons.close"}}</span>
					</button>
					<h4 class="modal-title" id="{{../id}}Label">
						{{#if ../title}}{{i18n ../title}}{{else}}{{i18n "dialog.confirm"}}{{/if}}
					</h4>
				</div>
				<div class="modal-body">
					{{>yield}}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">{{i18n "buttons.cancel"}}</button>
					<button type="button" class="btn btn-primary">{{i18n "buttons.ok"}}</button>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="modal">
	<div class="modal fade {{../class}}" id="{{../id}}" tabindex="-1" role="dialog" aria-labelledby="{{../id}}Label" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">{{i18n "buttons.close"}}</span>
					</button>
					<h4 class="modal-title" id="{{../id}}Label">
						{{i18n ../title}}
					</h4>
				</div>
				<div class="modal-body">
					{{>yield}}
				</div>
				<div class="modal-footer">
					{{>yield region='buttons'}}
				</div>
			</div>
		</div>
	</div>
</template>
